.wd-page-dimension {
  position: absolute;
  width: 598px;
  height: 700px;
  left: 20px;
  right: 10px;
  /*top: 3px*/
}

.wd-title-font-size {
  font-size: 20px
}

.wd-title-edge {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 0px
}

.wd-handle-size {
  font-size:13px
}

.wd-handle-color {
  color: lightgray
}

.wd-handle-edge {
  padding-left: 16px;
  padding-bottom: 12px
}

.wd-A-border {
  border-bottom-style: solid;
}

.wd-image-div-dimension {
  height: 60px;
}
.wd-profile-img-size {
  width: 48px;
  height: 48px
}

。wd-author-position {
  position: relative;
}

.wd-img-rounded-corner {
  border-radius: 50px;
}

.wd-author-content-dimension {
  position: relative;
  width: 506px;
  left: 76px;
  top: -48px;
  right: 16px
}

.wd-image-margin {
  margin-top: 12px;
}

.wd-author-font-size {
  font-size: 15px
}

.wd-content-dimension {
  width: 506px;
}

.wd-content-padding {
  padding: 12px;
}

.wd-image-top-rounded-corner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wd-image-size {
  width: 504px;
  height: 264px;
}

.wd-EF-border-style {
  border-style: solid;
}

.wd-EF-border-size {
  border-width: 1px;
}

.wd-EF-border-color {
  color: lightgray;
}

.wd-EF-margin {
  margin-top: -5px
}

.wd-content-rounded-corner {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wd-icon-padding {
  padding-top:12px;
}

.wd-inline-block {
  display: inline-block;
}

.wd-icon-margin {
  margin-right: 75px;
}

.wd-number-padding {
  padding-left: 12px;
}

.wd-heart-color {
  color: red;
}

